---
layout: default
title: Home
---

<div class="completeright">

  <div class="intro">
    <hr>
    <h2>
      Hi! My name is Lisa <a href="/about"><img src="/pic/000000-about2.png" width="70px" alt="profile pic Lisa" style="margin-bottom:-10px"></a>. <br>
      I <a href="/articles">write</a>, <a href="/projects">create</a>, <a href="/talks">talk</a> & <a href="/events">host events</a> about data vis, currently for <a href="https://www.datawrapper.de" target="_blank">Datawrapper</a> in Berlin. <br>Here's what I've worked on.<br>
    </h2><br>

    <div class="sidebar-text">
      <a href="mailto:lisacharlottemuth@gmail.com">EMAIL</a>&emsp;
      <a href="/feed.xml" target="_blank">RSS</a>&emsp;
      <a href="https://www.linkedin.com/in/lisacmuth/" target="_blank">LINKEDIN</a>&emsp;
      <a href="https://vis.social/@lisacmuth" target="_blank">MASTODON</a>&emsp;
      <a href="https://bsky.app/profile/lisacmuth.bsky.social" target="_blank">BLUESKY</a>&emsp;
      <a href="https://github.com/lisacharlotterost" target="_blank">GITHUB</a>&emsp;
      <a href="/impressum.html">IMPRESSUM</a>
    </div>

  </div>

{% for category_name in site.category_order %}
  {% assign posts_in_category = site.categories[category_name] %}
  {% if posts_in_category %}

  <div class="category-header">
    <hr>
    {% case category_name %}
    {% when "article" %}
      <a name="articles" class="anchor"></a>
      <h2>Selected articles</h2>
      <div class="sidebar-text">
        &rarr; <a href="/articles.html">SEE ALL ARTICLES</a>
      </div>
    {% when "event" %}
      <a name="events" class="anchor"></a>
      <h2>Organized events</h2>
      <div class="sidebar-text">
        &rarr; <a href="/events.html">SEE ALL EVENTS</a>
      </div>
    {% when "design" %}
      <a name="projects" class="anchor"></a>
      <h2>Selected projects</h2>
      <div class="sidebar-text">
        &rarr; <a href="/projects.html">SEE ALL PROJECTS</a>
      </div>
    {% when "talk" %}`
      <a name="talks" class="anchor"></a>
      <h2>Selected talks</h2>
      <div class="sidebar-text">
        &rarr; <a href="/talks.html">SEE ALL TALKS</a>
      </div>
    {% endcase %}

    <div class="blogcontainer article-text">
      {% case category_name %}
      {% when "article" %}
        <p>"To understand something, write about it," they say. I'm curious. So I started writing: first on my personal blog, mostly about data vis when I got into the field around 2014. There was so much to learn! Since November 2017, I get paid by Datawrapper to do just that: Figuring things out, and taking you all on a tour with me:</p>
      {% when "talk" %}
        <p>Talks let me combine images (slides) and text (my speech) in a more tension-building, direct way than blog posts. I taught data vis at different universites and have given general data vis workshops over the years – but here you can find the talks I used as an excuse to research a completely new question:</p>
      {% when "event" %}
        <p>I started going to conferences and meetups about data visualization as soon as I had the epiphany that "Whoa, this is a real field, and people actually do this for a living!" At some point, I wanted to bring data vis enthusiasts together myself – to meet them, but to also give back to a community that had given me so much. So far, I’ve organized three things:</p>
      {% else %}
        <p>Before delving into data vis, I studied print design for six years. Here you can find some of these older works, but also data visualizations I've created for newsrooms, in my free time, and, most recently, for the <a href="https://www.datawrapper.de/blog">Datawrapper blog</a>:</p>
      {% endcase %}
    </div>
  </div>

  <div class="grid">
    {% for post in posts_in_category %}
      {% capture category_name_actual %}{{ post.categories | last }}{% endcapture %}
      {% if post.categories contains "fav" and category_name_actual == category_name %}

        {% capture url_to_use %}{{ post.url }}{% endcapture %}
        {% if post.external %}
          {% capture url_to_use %}{{ post.external }}{% endcapture %}
        {% endif %}

        <a class="thumb" href="{{ post.url }}">
          <div class="post">
            <div class="post-image">
              <img src="{{ post.image }}"/>
            </div>
            <div class="post-date">
              {% if category_name == "design" %}
                {{ post.date | date: "%Y" }}
              {% else %}
                {{ post.date | date: "%B %Y" }}
              {% endif %}
              {% unless post.whofor == nil %}
                <b><span style="color:#cc0000">{{ post.whofor }}</span></b>
              {% endunless %}
            </div>
            <h1 class="post-title">{{ post.title }}</h1>
            <div class="post-summary">{{ post.summary }}</div>
          </div>
        </a>

      {% endif %}
    {% endfor %}
  </div>

  {% if category_name == "article" %}
  
      <div class="category-header">
        <hr>
        <a name="notes" class="anchor"></a>
        <h2>Recent notes</h2>
        <div class="sidebar-text">
           &rarr; <a href="/notes_stream.html">ALL NOTES AS A STREAM</a> | <a href="/notes.html">INDEX</a> | <a href="/notes.xml">RSS</a>
        </div>
    
        <div class="blogcontainer article-text">
          <p>Quick notes I write down on some of my days.</p>
        </div>
      </div>
    
      <div class="grid">
        {% assign sorted_notes = site.notes | sort: "date" | reverse %}
        {% assign note_count = 0 %}
        
        {% for note in sorted_notes %}
          {% unless note.layout == 'withoutdate' %}
          
            {% assign note_count = note_count | plus: 1 %}
            {% if note_count > 9 %}{% break %}{% endif %}
    
            {% capture url_to_use %}{{ note.url }}{% endcapture %}
    
            <a class="thumb" href="{{ note.url }}">
              <div class="post">
    
                 <div class="notes-image no-top">
                  <img src="{{ note.image }}" />
                </div>
    
                <div class="post-date">
    
                  <b><span style="color:#cc0000">{{ note.title }}</span></b><br>
    
                  {% if note.categories contains "fav" %}
                    ✦
                  {% endif %}
    
                  {% unless note.whofor == nil %}
                    <b><span style="color:#000">{{ note.whofor }}</span></b>
                  {% endunless %}
    
                  {% assign clean_content = note.content | strip_html %}
                  {% assign word_count = clean_content | number_of_words %}
                  {% assign image_count = note.content | split:"<img" | size | minus:1 %}
    
                   {% if note.tags and note.tags.size > 0 %}
                    <span class="note-tags">
                    {{ note.tags | first }} | 
                  </span>
                  {% endif %}
    
                  {% if word_count > 0 %}
                    {{ word_count }}
                    {% if word_count == 1 %}
                      word{% if image_count > 0 %}, {% endif %}
                    {% else %}
                      words{% if image_count > 0 %}, {% endif %}
                    {% endif %}
                  {% endif %}
    
                  {% if image_count > 0 %}
                    {{ image_count }}
                    {% if image_count == 1 %}image{% else %}images{% endif %}
                  {% endif %}
    
                </div>
    
            </div></a>
    
          {% endunless %}
        {% endfor %}
      </div>
  {% endif %}
  {% endif %}
{% endfor %}

  <div class="category-header">
    <hr>

    <a id="aboutme"></a><h2>About me</h2>
    <div class="sidebar-text">
      &rarr; <a href="/about.html">LEARN MORE</a>
    </div>
    {% include aboutme.html %}
<br>
</div>
