
<div class="blogcontainer article-text">

  <p>Lisa Charlotte Muth is a Berlin-based writer for the data visualization tool <a href="https://www.datawrapper.de/" target="_blank">Datawrapper</a>. Before that, she studied graphic design for six years and created data visualizations for newsrooms like Tagesspiegel, Bloomberg, SPIEGEL, ZEIT Online, and NPR as an OpenNews Fellow. She co-hosted the Berlin Data Vis meetup, started the global, digital <a href="https://www.datawrapper.de/blog/category/book-club/">Data Vis Book Club</a>, writes a <a href="https://www.datawrapper.de/blog/book-about-colors-in-data-vis/">handbook</a>, and tries to live a good life.</p>

</div>
