---
layout: default
---
<div class="completeright">
<div class="blogcontainer">

<div class="blogheader">
  <hr>
  <h1 class="article-title">{{ page.title }}</h1>
  <span class="article-date">
    {% if page.categories contains "design" or page.categories contains "event" %}
      {{ page.date | date: "%Y" }}
    {% else %}
      {{ page.date | date_to_long_string }}
    {% endif %}

    {% if page.whofor %}
      <b><span style="color:#cc0000">{{ page.whofor }}</span></b>
    {% endif %}
  </span>
</div>

<div class="article-text">
  <div class="{% if page.categories contains 'design' %}biggerimages{% endif %}">
    {{ content }}
  </div>
</div>

{% if page.comments == "enabled" %}
<div id="lisa-discussion-wrap">
    <hr>
    <h1>Comments</h1><br>
    <div id="disqus_privacy_consent" style="...">
        <p>This post has some old Disqus comments.<br>I do need to save a cookie for you, though. Interested?</p>
        <button id="load_disqus_btn" onclick="loadDisqus()">Yes, show me the comments!</button>
    </div>
    <div id="disqus_thread"></div>
    <script>
        function loadDisqus() {
            document.getElementById('disqus_privacy_consent').style.display = 'none';
            var disqus_config = function () {
                this.page.url = '{{ page.url | absolute_url }}'; 
                this.page.identifier = '{{ page.url }}'; 
            };
            (function() {
                var d = document, s = d.createElement('script');
                s.src = 'https://lisacharlotterost.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        };
    </script>
</div>
{% endif %}

{% capture category_name %}{{ page.categories | last }}{% endcapture %}
<div class="relatedarticles">
  <hr>
  <h1>
    {% case category_name %}
      {% when "article" %}Most recent articles
      {% when "talk" %}Other talks I gave
      {% when "design" %}Other projects
      {% when "event" %}Other events I organized
    {% endcase %}
  </h1>
  <br>
  <div class="grid">
    {% assign posts = site.categories[category_name] | where_exp: "item", "item.layout == 'post'" | where_exp: "item", "item.title != page.title" %}
    {% for post in posts limit:6 %}
      <a class="thumb" href="{{ post.url }}">
        <div class="post">
          <div class="post-image"><img src="{{ post.image }}"/></div>
          <div class="post-date">
            {{ post.date | date: "%B %Y" }}
            {% if post.whofor %}<b><span style="color:#cc0000">{{ post.whofor }}</span></b>{% endif %}
          </div>
          <h1 class="post-title">{{ post.title }}</h1>
          <div class="post-summary">{{ post.summary }}</div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>

</div>
</div>
